header {
  text-align: center;
}
header h1 {
  float: left;
}
header nav {
  float: right;
}
main {
  clear: both;
}
main .section1 {
  float: left;
  width: 30%;
}
main .section2 {
  float: right;
  width: 70%;
}
main .section2 div ul{
    float: left;
    
    width: 30%;
}
main .section2 div p{
    float: right;
    width: 60%;
}
footer {
  clear: both;
}
footer p:first-child {
  float: left;
}
footer p:last-child {
  float: right;
}
