*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content:space-between ;
    align-items: end;
}
header h1{
}

header nav{

    margin-top: 10px;
}
header nav li{
    display: inline-block;
    transition-duration: 1s;
}
header nav li:hover{
    background-color: white;
    color: black;
    margin-right: 10px;
}
header nav a{
    color: inherit;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
main{
    display: flex;
    padding: 0px 50px;
    align-items: center;
    height: 80vh;
}
main section{

    width: 70%;
    box-sizing: border-box;
    
}
main section h2{
    text-align: center;
}
main section p{
    text-align: justify;
}
main img{
    width: 30%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width:600px) {
    main section,main img{
        float: none;
    }
}