:root{
  --custom-blue:rgb(2 123 176);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Figtree", sans-serif;
}
.section1 {
  padding: 10px 50px;
  background-color: rgb(224, 237, 242);
}
.section1 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 20px 40px;
  border-radius: 50px;
}
.section1 header nav ul {
  display: flex;
  gap: 20px;
  color: rgb(100, 100, 100);
}
.section1 header nav ul li {
  display: block;
}
.section1 header nav ul li a {
  text-decoration: none;
  color: inherit;
}
.section1 header img {
  width: 130px;
}
.section1 header > div li {
  display: inline-block;
  margin-left: 16px;
}
.section1 header > div button {
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
}
.section1 header > div #log-in-btn {
  box-shadow: 1px 1px 5px lightgray;
  background: white;
}
.section1 header > div #sign-up-btn {
  box-shadow: 1px 1px 5px lightgray;
  background: #5b97a6;
  /*https://cssgradient.io/*/
  background: linear-gradient(
    90deg,
    rgba(91, 151, 166, 1) 0%,
    rgba(42, 123, 155, 1) 100%
  );
  color: white;
}

.section1>div{
  padding: 100px 30px;
  display: flex;
  gap: 50px;
}
.section1 video{
  width: 40%;
  max-width: 450px;
  min-width: 320px;
  border-radius: 17px;
}
.section1>div>div{
  flex: 1;
}
/*
.section1 .welcome-div>*{
  margin-bottom: 10px;
}
*/
.section1 .welcome-div{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.btn{
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn-blue{
  color: white;
  background-color: var(--custom-blue); 
}
.btn-white{
  background: white;
  color: rgb(92, 92, 92);
  border: 1px solid lightgray;
}
.section1 .btns{
  display: flex;
  gap: 10px;
}
.welcome-div h1{
  font-size: 4em;
}
.welcome-div h1 span{
  color: var(--custom-blue);
}
.list-hero{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  border-top: 1px solid lightgray;
  /* gap: 20px; */
}
.list-hero li{
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 300px;
  gap: 5px;
  margin-top: 20px;
}
.list-hero li i{
  background-color: rgb(172, 227, 230);
  color: var(--custom-blue);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2{
  background: #f9f9f9;
  padding:200px 150px;
}
.section2 header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.section2 header h2{
  font-size: 2.25em;
}
.section2 header p{
  color: #9ea1a3;
  width: 50%;
  text-align: center;
  line-height: 1.5;
}
.section2 header::after{
  content: '';
  width: 100px;
  height: 5px;
  background-color: #5b97a6;
  border-radius: 4px;
}
.section2 ul{
  display: flex;
  flex-wrap: wrap;
}
.section2 ul li{
  display: flex;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 15px;
  width: 50%;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.section2 ul li img{
  border-radius: 50%;
  background-color: #f2eeee;
  padding: 30px;
  border: 1px solid #ddd;
}
.section2 ul li p{
  text-align: center;
  color: #9ea1a3;
}
