*{
    margin: 0;
    padding: 0;
}
header{
   
    height: 80vh;
    background-repeat: no-repeat;
    background-size: contain;
    
}
header>*{
    padding: 20px 90px;
}
header .fixed-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header .fixed-header div{
    display: flex;
    gap: 40px;
}
header .fixed-header div a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    color: inherit;
}
header .hero-section{
    background: url(../img/header-bg.png);
    height: 100%;
    background-size: cover;
    background-position-x: right;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding-top: 50px;
    padding-bottom: 50px;
}
header .hero-section h1{
    color: white;
    font-size: 4em;
    width: 65%;
    font-family: "Figtree", sans-serif;
}
header .hero-section button{
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    background: greenyellow;
    font-weight: bold;
}
header .hero-section span{
    background: url('../img/text-bg.svg');
    background-repeat: no-repeat;
    color: black;
    background-position-y: center;
    background-size: contain;
    padding-right: 10px;
    padding-left: 10px;
}
main{
    background-color: beige;
}
.statistics-section{
    padding: 50px 90px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}
.statistics-section h1{
    font-size: 4em;
    font-family: "Figtree", sans-serif;
    width: 70%;
    min-width: 450px;
    text-align: center;
}
.statistics-section ul{
    width: 70%;
    min-width: 450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.statistics-section li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 300px;
}
.statistics-section li span:first-child{
    font-size: 5em;
    font-weight: bold;
    font-family: "Figtree", sans-serif;
}
.statistics-section li span:last-child{
    font-weight: bold;
    font-family: "Figtree", sans-serif;
}

.btn-black{
    padding: 10px 15px;
    border: 0;
    color: white;
    background: black;
    border-radius: 20px;
}
.services-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/bg2.svg) no-repeat;
    padding-top: 125px;
    gap: 18px;
}
.services-section h1{
    font-size: 4em;
    font-family: "Figtree", sans-serif;
}
.services-section>div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.services-section article{
    background: white;
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 #1414141a;
    transition-duration: 500ms;
}
.services-section article:hover{
    scale: 1.02;
}
.services-section article:hover h2{
    text-decoration: underline;
}
.services-section article img{
    width: 100%;
}
.services-section article li{
    display: inline-block;
    margin-right: 5px;
}
.services-section article h2{
    font-family: "Figtree", sans-serif;
    font-size: 2.2em;
}
.services-section article p{
    font-family: "Figtree", sans-serif;
    font-size: 1.2em;
}
.services-section article li button{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    font-family: "Figtree", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    background: white;
}