header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li{
    display: block;
}
header ul{
    display: flex;
    gap: 20px;
}
main{
    display: flex;
}
main section:nth-child(1){
    flex:1;
}
main section:nth-child(2){
    flex:2;
}
main section:nth-child(2) div{
    display: flex;
}
footer{
    display: flex;
    justify-content: space-between;
}

