:root{
    --left-distance:250px;
    --right-distance:250px;
    --orange-glovo: #ffC244;
    --green-glovo: #00a082;
}
*{
    margin: 0;
    padding: 0;
    
}
html{
    font-family: "Figtree", sans-serif;
}
header{
    padding: 10px var(--right-distance) 10px var(--left-distance);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--orange-glovo);
    color: var(--green-glovo);
}


header button{
    background-color: var(--green-glovo);
    color: white;
    border: 0;
    padding: 5px 10px;
    border-radius: 13px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.hero-section{
    background: var(--orange-glovo) no-repeat;
    border-bottom: 74px solid transparent;
    background-clip: padding-box;
    border-image-source: url(../img/wave3.svg);
    border-image-slice: 0 0 74;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var(--left-distance) ;
    padding-right: var(--right-distance) ;
}
.hero-section>div{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.hero-section>div h2{
    font-size: 3em;
}
.hero-section .search-position-bar{
    background-color: white;
    display: flex;
    gap: 7px;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
}
.search-position-bar button{
    border-radius: 20px;
    padding: 10px;
    border: 0;
    background: #e9f8f5ff;
    color: var(--green-glovo);
    font-weight: bold;
    cursor: pointer;
}
.hero-section input{
    flex: 1;
    border: 0;
}
.hero-section input:focus{
    outline: 0;
}
